/node_modules
#/public/build
/public/hot
/public/build.zip
/public/storage
/storage/*.key
/vendor
.env-docker
.env-host
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
/data_emb
/.env-cpanel

